.App {
  --containerW: 700px;
  --containerH: 700px;
  text-align: center;
}

h1 {
  margin: 20px;
}

label {
  margin: 10px;
}

input[type=checkbox] {
  margin: 5px;
}

.erro {
  background-color: red;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

input[type=text] {
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
}

.Digitar {
  display: inline-block;
}

.Scanner {
  margin: 20px;
}

.container {
    position: relative;
    margin: 0 auto;
  }
  
  .container,
  #interactive.viewport {
    width: var(--containerW);
    height: var(--containerH);
  }
  
  #interactive.viewport canvas,
  video {
    width: var(--containerW);
    height: var(--containerH);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    width: var(--containerW);
    height: var(--containerH);
  }
  

  .comorbidades {
    margin: 20px auto;
    padding: 20px;
    background-color: #b0f0d8ec;
    width: 800px;
  }

  .Produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }